{% extends "base.html" %}

{% block title %}About Simple GTD{% endblock %}

{% block content %}

<p><strong>关于 SimpleGTD</strong></p>
<p>关于GTD的工具层出不穷，对于拖延症患者来说，这些似乎永远是不够的（比如我自己）。</p>

<p>我希望能有一个工具，它不需要面面俱到，满足所有人的需求，它需要的是：</p>
<ul>
    <li>简单的操作方式</li>
    <li>有效的提高一个人的执行力</li>
    <li>温和地改善一个人的习惯</li>
</ul>

<p>SimpleGTD刚刚开始走在这条路上，从最简单和基本的功能开始，从自己以及身边的人的习惯开始，希望能给人带来一些好的改变。</p>

<p><strong>联系我们</strong></p>

<p>有什么建议，请发送邮件到<a href="mailto:admin@simplegtd.me">admin@simplegtd.me</a>，不胜感激。</p>

{% endblock %}
