{% extends "base.html" %}

{% block title %}Actions{% endblock %}
{% block myScript %}
    <script src="{{ STATIC_URL }}scripts/gtd.js"></script>
{% endblock %}

{% load action_tags %}

{% block loadScript %}
    <script>
        $(function () {
            // setup tabs
            function tabIndex () {
                if(!$.cookie('overdue_tab')) {
                    $.cookie('overdue_tab', 1);
                }
                return parseInt($.cookie('overdue_tab'));
            }

            $("#tabs").tabs({
                active: tabIndex(),
                activate: function(event, ui) {
                    $.cookie('overdue_tab', ui.newTab.index());
                }
            });

            // setup action dialog
            var action_dialog, action_form,
                    dateRegex = /^\d{1,2}\/\d{1,2}\/\d{4}$/,
                    action_id = $("#action_id"),
                    subject = $("#action"),
                    hours = $("#hours"),
                    minutes = $("#minutes"),
                    due_date = $("#due_date"),
                    tags = $("#tags"),
                    allFields = $([]).add(subject).add(hours).add(minutes).add(due_date),
                    tips = $(".validateTips");

            function updateTips(t) {
                tips.text(t)
                        .addClass("ui-state-highlight");
                setTimeout(function () {
                    tips.removeClass("ui-state-highlight", 1500);
                }, 500);
            }

            function checkLength(o, n, min, max) {
                if (o.val().length > max || o.val().length < min) {
                    o.addClass("ui-state-error");
                    updateTips("Length of " + n + " must be between " +
                            min + " and " + max + ".");
                    return false;
                } else {
                    return true;
                }
            }

            function checkRegexp(o, regexp, n) {
                if (!( regexp.test(o.val()) )) {
                    o.addClass("ui-state-error");
                    updateTips(n);
                    return false;
                } else {
                    return true;
                }
            }

            var action_lists = $(".action_list");

            function update_action() {
                var valid = true;
                allFields.removeClass("ui-state-error");
                valid = valid && checkLength(subject, "action", 1, 100);
                valid = valid && (due_date.val().length == 0
                                    || checkRegexp(due_date, dateRegex, "Due date field only allow a mm/dd/yyyy format"));
                if (valid) {
                    var data_save = action_form.serializeArray();
                    data_save.push({ name: 'csrfmiddlewaretoken', value: '{{ csrf_token }}'});

                    $.post('/action/update/',
                            data_save,
                            function(data) {
                                if(data.result == 'OK') {
                                    location.reload();
                                }
                                else {
                                    alert(data.message);
                                }
                            }
                    );
                    action_dialog.dialog("close");
                }
                return valid;
            }

            action_dialog = $("#action_dialog").dialog({
                autoOpen: false,
                height: 'auto',
                width: 'auto',
                modal: true,
                buttons: {
                    "OK": update_action,
                    Cancel: function () {
                        action_dialog.dialog("close");
                    }
                },
                close: function () {
                    action_form[0].reset();
                    allFields.removeClass("ui-state-error");
                }
            });

            action_form = action_dialog.find("#action_form").on("submit", function (event) {
                event.preventDefault();
                update_action();
            });

            function open_action_dialog(aid, title) {
                action_dialog.dialog("open");
                action_id.val(aid);
                action_dialog.dialog("option", "title", title);
            }

            function edit_action (elem) {
                var aid = elem.data("id");
                if(!aid) { return; }

                $.get('/action/' + aid + '/', function(data) {
                    if(data) {
                        var action = data.action;
                        subject.val(action.subject);
                        hours.val(action.hours);
                        minutes.val(action.minutes);

                        due = new Date(Date.parse(action.due_date));
                        due_date.val((due.getMonth() + 1) + "/" + due.getDate() + "/" + due.getFullYear());

                        tags.val(data.tags.join(", "));

                        var week = 0;
                        if(action.start_date) {
                            var start_date = new Date(action.start_date.slice(0, -1));
                            var this_week = gtd.week_range(new Date());
                            if(start_date > this_week.end){
                                week = 1;
                            }
                        }
                        $("#week").find("[value=" + week + "]").prop("checked", true);

                        var days = action.days;
                        if(days !== null) {
                            $(".check_day").each(function(index) {
                                var box = $(this);
                                if(days.indexOf(box.val()) >= 0) {
                                    box.prop("checked", true);
                                }
                            });
                        }

                        var goal = action.goal;
                        if(goal !== null) {
                            $("#goal").val(goal);
                        }

                        open_action_dialog(aid, "Editing action - " + action.subject);
                    }
                }, "json");
            }

            action_lists.on("dblclick", "tr", function(event) {
                edit_action($(this));
            });

            action_lists.on("click", "tr .clickable", function(event) {
                edit_action($(this).parent());
            });

            action_lists.on("click", "input[type='checkbox']", function() {
                var sid = 3;
                if(!$(this).is(":checked")){
                    sid = 1;
                }
                var aid = $(this).closest("tr").data("id");
                action_id.val(aid);

                $.post('/action/status/' + aid,
                    { csrfmiddlewaretoken: "{{ csrf_token }}", sid: sid },
                    function(data) {
                        if(data.result == "OK") {
                                location.reload();
                            }
                            else {
                                alert(data.message);
                            }
                    }, "json");
            });

            action_lists.tooltip({
                items: "img",
                content: function () {
                    var elem = $(this);
                    if(elem.is("img")) {
                        return elem.closest("tr").find(".notes").html();
                    }
                }
            });

            due_date.datepicker({
                showOtherMonths: true,
                selectOtherMonths: true,
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true
            });

            $("tr[class='done'] input[type='checkbox']").each(function() {
                var box = $(this);
                box.prop("checked", true);
                //box.prop("disabled", true);
            });
        });
    </script>
{%  endblock %}

{% block content %}

    {% if total %}

    {% action_dialog goals %}

    <a id="overdue">
        <strong>Warning: </strong>You have {{ total }} OVERDUE action{{ total|pluralize }}, DO THEM QUICKLY!</a>

    <div id="actions">

        <div id="tabs">
            <ul>
                <li><a href="#recent">Recent ({{ recent|length }})</a></li>
                <li><a href="#earlier">Earlier ({{ earlier|length }})</a></li>
            </ul>
            {% action_overdue recent "recent" %}
            {% action_list earlier "earlier" %}
        </div>

    </div>

    {% else %}
        <p>Good Job!</p>
    {% endif %}

{% endblock %}
