{% extends "base.html" %}

{% block title %}Actions{% endblock %}
{% block myScript %}
    <script src="{{ STATIC_URL }}scripts/gtd.js"></script>
{% endblock %}

{% block loadScript %}
    <script>

        var status_completed = "3";
        var week_indicators = [0, 0, 1];

        function getDay () {
            var now = new Date();
            return now.getDay() == 0 ? 7 : now.getDay();
        }

        $(function () {

            // status
            var session = {
                editing: false,
                last_action: null,
                has_new: false
            };

            // setup tabs
            function tabIndex () {
                if(!$.cookie('action_tab')) {
                    $.cookie('action_tab', 1);
                }
                return parseInt($.cookie('action_tab'));
            }

            $("#tabs").tabs({
                active: tabIndex(),
                activate: function(event, ui) {
                    $.cookie('action_tab', ui.newTab.index());
                }
            });

            // setup action dialog
            var action_dialog, action_form,
                    dateRegex = /^\d{1,2}\/\d{1,2}\/\d{4}$/,
                    action_id = $("#action_id"),
                    subject = $("#action"),
                    hours = $("#hours"),
                    minutes = $("#minutes"),
                    due_date = $("#due_date"),
                    tags = $("#tags"),
                    allFields = $([]).add(subject).add(hours).add(minutes).add(due_date),
                    tips = $(".validateTips");

            function updateTips(t) {
                tips.text(t)
                        .addClass("ui-state-highlight");
                setTimeout(function () {
                    tips.removeClass("ui-state-highlight", 1500);
                }, 500);
            }

            function checkLength(o, n, min, max) {
                if (o.val().length > max || o.val().length < min) {
                    o.addClass("ui-state-error");
                    updateTips("Length of " + n + " must be between " +
                            min + " and " + max + ".");
                    return false;
                } else {
                    return true;
                }
            }

            function checkRegexp(o, regexp, n) {
                if (!( regexp.test(o.val()) )) {
                    o.addClass("ui-state-error");
                    updateTips(n);
                    return false;
                } else {
                    return true;
                }
            }

            Mustache.tags = ['[[', ']]'];
            var template = $("#action_template").html();
            Mustache.parse(template);

            var action_lists = $(".action_list");

            function update_action() {
                var valid = true;
                allFields.removeClass("ui-state-error");
                valid = valid && checkLength(subject, "action", 1, 100);
                valid = valid && (due_date.val().length == 0
                                    || checkRegexp(due_date, dateRegex, "Due date field only allow a mm/dd/yyyy format"));
                if (valid) {
                    var data_save = action_form.serializeArray();
                    data_save.push({ name: 'csrfmiddlewaretoken', value: '{{ csrf_token }}'});

                    $.post('/action/update/',
                            data_save,
                            function(data) {
                                if(data.result == 'OK') {
                                    if (parseInt(action_id.val()) < 0){
                                        session.has_new = true;
                                        session.last_action = data.action;
                                    }

                                    update_tables(data);
                                }
                                else {
                                    alert(data.message);
                                }
                            }
                    );
                    action_dialog.dialog("close");
                }
                return valid;
            }

            action_dialog = $("#action_dialog").dialog({
                autoOpen: false,
                height: 'auto',
                width: 'auto',
                modal: true,
                buttons: {
                    "OK": update_action,
                    Cancel: function () {
                        action_dialog.dialog("close");
                    }
                },
                close: function () {
                    action_form[0].reset();
                    allFields.removeClass("ui-state-error");

                    session.editing = false;
                }
            });

            action_form = action_dialog.find("#action_form").on("submit", function (event) {
                event.preventDefault();
                update_action();
            });

            function open_action_dialog(aid, title) {
                action_dialog.dialog("open");
                action_id.val(aid);
                action_dialog.dialog("option", "title", title);

                session.editing = true;
            }

            function add_new_action() {

                var now = new Date();
                var due = gtd.toDateString(now);
                if(session.has_new && session.last_action.due_date_std) {
                    due = session.last_action.due_date_std;
                }
                due_date.val(due);

                var weekday = now.getDay();
                if(weekday == 0) {
                    weekday = 7;
                }
                if (session.has_new && session.last_action.days) {
                    weekday = session.last_action.days;
                }
                set_days(weekday);

                var week = 0;
                if (session.has_new && session.last_action.week) {
                    week = session.last_action.week;
                }
                set_week(week);

                open_action_dialog(-1, "Adding a new action");
            }

            $("#create_action").button().on("click", function () {
                add_new_action();
            });

            function set_week(week) {
                if(week < 0 || week > 1) { return; }

                $("#week").find("[value=" + week + "]").prop("checked", true);
            }

            function set_days(days) {
                days = days.toString();
                if (days) {
                    $(".check_day").each(function (index) {
                        var box = $(this);
                        if (days.indexOf(box.val()) >= 0) {
                            box.prop("checked", true);
                        }
                    });
                }
            }

            function edit_action (elem) {
                var aid = elem.data("id");
                if(!aid) { return; }

                $.get('/action/' + aid + '/', function(data) {
                    if(data) {
                        var action = data.action;
                        subject.val(action.subject);
                        hours.val(action.hours);
                        minutes.val(action.minutes);

                        due = new Date(Date.parse(action.due_date));
                        due_date.val(gtd.toDateString(due));

                        tags.val(data.tags.join(", "));

                        var week = 0;
                        if(action.start_date) {
                            var start_date = new Date(action.start_date.slice(0, -1));
                            var this_week = gtd.week_range(new Date());
                            if(start_date > this_week.end){
                                week = 1;
                            }
                        }
                        set_week(week);
                        set_days(action.days);

                        var goal = action.goal;
                        if(goal !== null) {
                            $("#goal").val(goal);
                        }

                        open_action_dialog(aid, "Editing action - " + action.subject);
                    }
                }, "json");
            }

            action_lists.on("dblclick", "tr", function(event) {
                edit_action($(this));
            });

            action_lists.on("click", "tr .clickable", function(event) {
                edit_action($(this).parent());
            });

            function update_tables(data) {
                var action = data.action;
                if (status_completed == action.status) {
                    action.done = "done";
                    action.checked = "checked";
                }
                if (!action.time) {
                    action.time = "NOT SET";
                }

                var new_row = Mustache.render(template, data);

                function add_row(tbl) {
                    var days_index = 2;
                    var rows = tbl.find("tbody tr");
                    var new_status = data.action.status;
                    var new_days = data.action.days;
                    var new_index = -1;
                    console.log(rows.length);
                    for (var idx = 0; idx < rows.length; idx++) {
                        row = $(rows[idx]);
                        var sid = row.data("sid");
                        var days = row.find("td").eq(days_index).text();

                        if (new_status < sid
                                || (new_status == sid && new_days <= days)) {
                            new_index = idx;
                            break;
                        }
                    }

                    if (new_index < 0) {
                        tbl.find("tbody").append(new_row);
                    }
                    else {
                        var before = rows.eq(new_index);
                        before.before(new_row);
                    }
                }

                var week = 0;
                if(action.start_date) {
                    var start_date = new Date(action.start_date);
                    var this_week = gtd.week_range(new Date());
                    if(start_date > this_week.end){
                        week = 1;
                    }
                }
                console.log(week);

                action_lists.each(function (idx) {

                    if (week != week_indicators[idx]) {
                        return;
                    }

                    if (idx == 0 && (action.days.indexOf(getDay()) < 0)) {
                        return;
                    }

                    var table = $(this);
                    var aid = parseInt(action_id.val());
                    if (aid > 0) {
                        var r = table.find("tbody tr[data-id='" + aid + "']");
                        r.hide(500, function () {
                            r.remove();
                            add_row(table);
                        });
                    }
                    else {
                        add_row(table);
                    }
                });
            }

            action_lists.on("click", "input[type='checkbox']", function() {
                var sid = 3;
                if(!$(this).is(":checked")){
                    sid = 1;
                }
                var aid = $(this).closest("tr").data("id");
                action_id.val(aid);

                $.post('/action/status/' + aid,
                    { csrfmiddlewaretoken: "{{ csrf_token }}", sid: sid },
                    function(data) {
                        if(data.result == "OK") {
                                update_tables(data);
                            }
                            else {
                                alert(data.message);
                            }
                    }, "json");
            });

            action_lists.tooltip({
                items: "img",
                content: function () {
                    var elem = $(this);
                    if(elem.is("img")) {
                        return elem.closest("tr").find(".notes").html();
                    }
                }
            });

            due_date.datepicker({
                showOtherMonths: true,
                selectOtherMonths: true,
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true
            });

            $("tr[class='done'] input[type='checkbox']").each(function() {
                var box = $(this);
                box.prop("checked", true);
                //box.prop("disabled", true);
            });

            $(document).keypress(function(event) {
                // if '+', '=', 'a', or 'A' is pressed
                if (!session.editing
                        && (event.charCode == 43 || event.charCode == 61 || event.charCode == 65 || event.charCode == 97)) {
                    add_new_action();
                    event.preventDefault();
                }
            });
        });
    </script>
{% endblock %}

{% block content %}

    <script id="action_template" type="x-tmpl-mustache">
    <tr data-id="[[ action.id ]]" data-sid="[[ action.status ]]" class="[[ action.done ]]">
        <td><input type="checkbox" name="complete" [[ action.checked ]]></td>
        <td class="clickable">[[ action.subject ]]</td>
        <td width="5%">[[ action.days ]]</td>
        <td>
            [[ action.time ]]
        </td>
        <td>[[ action.due_date ]]</td>
        <td>[[ action.goal ]]</td>
        <td width="5%">
            <a href="{% url "site_root" %}action/[[ action.id ]]/comments/">
                <img src="{{ STATIC_URL }}images/notes.png" title="Add a note" />
            </a>
        </td>
    </tr>
    </script>

    <div id="action_dialog" title="Create new action">
        <p class="validateTips"></p>
        <form id="action_form">
            <div id="add_action_setting">
                <div class="field">
                    <input type="hidden" id="action_id" name="action_id" class="field_label_input" value="-1">
                </div>
                <div class="field">
                    <label class="field_label" for="action">Action <em class="required">*</em></label>
                    <input type="text" id="action" name="action" class="field_label_input">
                </div>
                <div class="field">
                    <label class="field_label">Time needed</label>
                    <input type="number" id="hours" name="hours" class="field_label_input time_input">
                    <label for="hours">h</label>

                    <input type="number" id="minutes" name="minutes" class="field_label_input time_input">
                    <label for="minutes">m</label>
                </div>
                <div class="field">
                    <label class="field_label" for="due_date">Due Date</label>
                    <input type="text" id="due_date" name="due_date" class="field_label_input">
                </div>
                <div class="field">
                    <label class="field_label" for="tags">Tags</label>
                    <input type="text" id="tags" name="tags" class="field_label_input">
                </div>
                <div>
                    <div class="field check" id="week">
                        <label for="check_week" class="check">
                            <input type="radio" name="check_week" class="check_week" value="0" checked>This week
                        </label>
                        <label for="check_week" class="check">
                            <input type="radio" name="check_week" class="check_week" value="1">Next week
                        </label>
                    </div>
                    <div class="field" id="days">
                        <label for="check_day" class="check">
                            <input type="checkbox" name="check_day" class="check_day" value="1">Mon
                        </label>
                        <label for="check_day" class="check">
                            <input type="checkbox" name="check_day" class="check_day" value="2">Tue
                        </label>
                        <label for="check_day" class="check">
                            <input type="checkbox" name="check_day" class="check_day" value="3">Wed
                        </label>
                        <label for="check_day" class="check">
                            <input type="checkbox" name="check_day" class="check_day" value="4">Thu
                        </label>
                        <label for="check_day" class="check">
                            <input type="checkbox" name="check_day" class="check_day" value="5">Fri
                        </label>
                        <label for="check_day" class="check">
                            <input type="checkbox" name="check_day" class="check_day" value="6">Sat
                        </label>
                        <label for="check_day" class="check">
                            <input type="checkbox" name="check_day" class="check_day" value="7">Sun
                        </label>
                    </div>

                </div>

                <div>
                    <label for="goal"></label>
                    <select id="goal" name="goal">
                        <option value="" selected="selected">---select a goal---</option>
                        {% for goal in goals %}
                            <option value="{{ goal.id }}">{{ goal.subject }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
    </div>

    <button id="create_action" class="button add">+ ADD ACTION</button>
    {% if overdue %}
        <a id="overdue" href="{% url "overdue_actions" %}">You have {{ overdue }} OVERDUE action{{ overdue|pluralize }}
            in last {{ overdue_weeks }} week{{ overdue_weeks|pluralize }}, check now!</a>
    {% endif %}

    <div id="actions">

        <div id="tabs">
            <ul>
                <li><a href="#daily">Today</a></li>
                <li><a href="#weekly">This Week</a></li>
                <li><a href="#next_week">Next week</a></li>
            </ul>
            <div id="daily">
                <table class="action_list">
                    <thead>
                    <tr>
                        <th class="checkbox"></th>
                        <th class="action">Action</th>
                        <th class="assigned_days">Days</th>
                        <th class="time_needed">Time Needed</th>
                        <th class="due_date">Due Date</th>
                        <th class="goal">Goal</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for action in daily %}
                        <tr data-id="{{ action.id }}" class="{% if action.status_id == 3 %}done{% endif %}">
                            <td class="checkbox"><input type="checkbox" name="complete"></td>
                            <td class="clickable action">{{ action.subject }}</td>
                            <td class="assigned_days" width="5%">{{ action.days }}</td>
                            <td class="time_needed">
                                {% if action.time %}{{ action.time }}{% else %}NOT SET{% endif %}
                            </td>
                            <td class="due_date">{{ action.due_date|date:"N j (D)" }}</td>
                            <td class="goal">{% if action.goal %}{{ action.goal }}{% endif %}</td>
                            <td width="5%">
                                <a href="{% url "site_root" %}action/{{ action.id }}/comments/">
                                    <img src="{{ STATIC_URL }}images/notes.png" title="Add a note" />
                                </a>

                                {% if action.comments.all %}
                                    <div class="notes">
                                    <ul>
                                        {% for c in action.comments.all %}
                                            <li>{{ c.comment }}</li>
                                        {% endfor %}
                                    </ul>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="weekly">
                <table class="action_list">
                    <thead>
                    <tr data-id="{{ action.id }}">
                        <th class="checkbox"></th>
                        <th class="action">Action</th>
                        <th class="assigned_days">Days</th>
                        <th class="time_needed">Time Needed</th>
                        <th class="due_date">Due Date</th>
                        <th class="goal">Goal</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for action in weekly %}
                        <tr data-id="{{ action.id }}" data-sid="{{ action.status_id }}" class="{% if action.status_id == 3 %}done{% endif %}">
                            <td class="checkbox"><input type="checkbox" name="complete"></td>
                            <td class="clickable action">{{ action.subject }}</td>
                            <td class="assigned_days" width="5%">{{ action.days }}</td>
                            <td class="time_neede">
                                {% if action.time %}{{ action.time }}{% else %}NOT SET{% endif %}
                            </td>
                            <td class="due_date">{{ action.due_date|date:"N j (D)" }}</td>
                            <td class="goal">
                                {% if action.goal %}{{ action.goal }}{% endif %}
                            </td>
                            <td width="5%">
                                <a href="{% url "site_root" %}action/{{ action.id }}/comments/">
                                    <img src="{{ STATIC_URL }}images/notes.png" title="Add a note" />
                                </a>

                                {% if action.comments.all %}
                                    <div class="notes">
                                    <ul>
                                        {% for c in action.comments.all %}
                                            <li>{{ c.comment }}</li>
                                        {% endfor %}
                                    </ul>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="next_week">
                <table class="action_list">
                    <thead>
                    <tr>
                        <th class="checkbox"></th>
                        <th class="action">Action</th>
                        <th class="assigned_days">Days</th>
                        <th class="time_needed">Time Needed</th>
                        <th class="due_date">Due Date</th>
                        <th class="goal">Goal</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for action in next_week %}
                        <tr data-id="{{ action.id }}" data-sid="{{ action.status_id }}" class="{% if action.status_id == 3 %}done{% endif %}">
                            <td><input type="checkbox" name="complete"></td>
                            <td class="clickable">{{ action.subject }}</td>
                            <td width="5%">{{ action.days }}</td>
                            <td>
                                {% if action.time %}{{ action.time }}{% else %}NOT SET{% endif %}
                            </td>
                            <td>{{ action.due_date|date:"N j (D)" }}</td>
                            <td>
                                {% if action.goal %}{{ action.goal }}{% endif %}
                            </td>
                            <td width="5%">
                                <a href="{% url "site_root" %}action/{{ action.id }}/comments/">
                                    <img src="{{ STATIC_URL }}images/notes.png" title="Add a note" />
                                </a>

                                {% if action.comments.all %}
                                    <div class="notes">
                                    <ul>
                                        {% for c in action.comments.all %}
                                            <li>{{ c.comment }}</li>
                                        {% endfor %}
                                    </ul>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

{% endblock %}
