{% extends "base.html" %}

{% block title %}Add an action{% endblock %}

{% block loadScript %}
     <script>
        $(function() {
        $( "#due_date" ).datepicker({
                showOtherMonths: true,
                selectOtherMonths: true
            });
        });
    </script>
{% endblock %}

{% block content %}

    <form action="/action/add/" method="post">
        {% csrf_token %}
        <div id="add_action_setting">
            <div class="field">
                <label class="field_label" for="action">Action</label>
                <input type="text" id="action" name="action" class="field_label_input">
            </div>
            <div class="field">
                <label class="field_label">Time needed</label>

                <input type="number" id="hours" name="hours" class="field_label_input time_input">
                <label for="hours">h</label>

                <input type="number" id="minutes" name="minutes" class="field_label_input time_input">
                <label for="minutes">m</label>
            </div>
            <div class="field">
                <label class="field_label" for="due_date">Due Date</label>
                <input type="text" id="due_date" name="due_date" class="field_label_input">
            </div>

            <div id="checks">
                <div class="field check">
                    <label for="check_week" class="check">
                        <input type="radio" name="check_week" class="check_week" value="0" checked>This week
                    </label>
                    <label for="check_week" class="check">
                        <input type="radio" name="check_week" class="check_week" value="1">Next week
                    </label>
                </div>
                <div class="field">
                    <label for="check_day" class="check">
                        <input type="checkbox" name="check_day" class="check_day" value="1">Mon
                    </label>
                    <label for="check_day" class="check">
                        <input type="checkbox" name="check_day" class="check_day" value="2">Tue
                    </label>
                    <label for="check_day" class="check">
                        <input type="checkbox" name="check_day" class="check_day" value="3">Wed
                    </label>
                    <label for="check_day" class="check">
                        <input type="checkbox" name="check_day" class="check_day" value="4">Thu
                    </label>
                    <label for="check_day" class="check">
                        <input type="checkbox" name="check_day" class="check_day" value="5">Fri
                    </label>
                    <label for="check_day" class="check">
                        <input type="checkbox" name="check_day" class="check_day" value="6">Sat
                    </label>
                    <label for="check_day" class="check">
                        <input type="checkbox" name="check_day" class="check_day" value="7">Sun
                    </label>
                </div>

            </div>

            <div>
                <label for="goal"></label>
                <select id="goal" name="goal">
                <option value="" selected="selected">---select a goal---</option>
                <option value="5">Learn ML</option>
                <option value="4">Learn Python:)</option>
                <option value="3">new oneff</option>
                <option value="2">add more features?</option>
                <option value="1">First draft implementation of Goal &amp; Action</option>
                </select>
            </div>

            <div class="field_button">
                <input type="submit" class="save" value="Save">
                <a href="/action/list" class="cancel">Cancel</a>
            </div>
        </div>

    </form>

{% endblock %}
