{% extends "base.html" %}

{% block title %}Add Goal{% endblock %}

{% block loadScript %}
     <script>
        $(function() {
        $( "#due_date" ).datepicker({
                showOtherMonths: true,
                selectOtherMonths: true
            });
        });
    </script>
{% endblock %}

{% block content %}

    <form action="/goal/add/" method="post">
        {% csrf_token %}
        <div id="add_goal_setting">
            <textarea type="text" id="quickTitle" name="title"
                      value placeholder="Add a goal..." autofocus="auotofocus"
                      style="height:30px"></textarea>
            <div class="field">
                <label class="field_label"  for="duration">Duration (days)</label>
                <input id="duration" type="number" name="duration" value="1" class="field_label_input">
            </div>
            <div class="field">
                <label class="field_label" for="due_date">Due Date</label>
                <input id="due_date" type="text" name="due_date" class="field_label_input">
            </div>
{#            <div class="field">#}
{#                <label class="field_label" for="goal_actions">Actions</label>#}
{#                <a class="field_label_input add_button">+</a>#}
{#            </div>#}
{#            <div class="actions"><a>action 1</a></div>#}
{#            <div class="actions"><a>action 2</a></div>#}

            <div class="field_button">
                <input type="submit" class="save" value="Save">
                <a href="/goal/list" class="cancel">Cancel</a>
            </div>
        </div>

    </form>

{% endblock %}
