{% extends "base.html" %}

{% block title %}Edit Goal{% endblock %}
{% block myScript %}
    <script src="{{ STATIC_URL }}scripts/gtd.js"></script>
{% endblock %}

{% block loadScript %}
     <script>
        $(function() {
            $( "#due_date" ).datepicker({
                showOtherMonths: true,
                selectOtherMonths: true
            });

            var status = {{ goal.status.id }};
            $("#status").val(status);

            var gid = {{ goal.id }};
            $("#delete").on('click', function() {
                var sid = gtd.status.canceled.id;
                if(gid && sid) {
                    $.post( "/goal/status/" + gid,
                        { csrfmiddlewaretoken: '{{ csrf_token }}', sid: sid },
                        function(data) {
                            if(data.result == 'OK'){
                                window.location.replace('/goal/list/')
                            } else {
                                alert(data.message);
                            }
                    });
                }
            });
        });
    </script>
{% endblock %}

{% block content %}

    {% if errors %}
        <ul>
            {% for e in errors %}
                <li>{{ e }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="/goal/edit/{{ goal.id }}" method="post">

        {% csrf_token %}
        <div id="add_goal_setting">
            <textarea type="text" id="quickTitle" name="title"
                      value placeholder="Add a goal..." autofocus="auotofocus"
                      style="height:30px">{{ goal.subject }}</textarea>
            <div class="field">
                <label class="field_label"  for="duration">Duration (days)</label>
                <input id="duration" type="number" name="duration" value="{{ goal.duration }}" class="field_label_input">
            </div>
            <div class="field">
                <label class="field_label" for="due_date">Due Date</label>
                <input id="due_date" type="text" name="due_date" class="field_label_input" value="{{ goal.due_date|date:'m/d/Y' }}">
            </div>
            <div class="field">
                <label class="field_label" for="progress">Progress</label>
                <input id="progress" type="text" name="progress" class="field_label_input" value="{{ goal.progress }}">
            </div>
            <div class="field">
                <label class="field_label" for="status">Status</label>
                <select id="status" name="status">
                    <option value="" selected="selected">---select the status---</option>
                    {% for s in status %}
                        <option value="{{ s.id }}">{{ s.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="field_button">
                <input type="submit" class="save" value="Save">
                <input type="button" id="delete" class="save" value="DELETE?">
                <a href="/goal/list" class="cancel">Cancel</a>
            </div>
        </div>

    </form>

    <hr />

    <table class="action_list">
        <thead>
        <tr>
            <th class="checkbox"></th>
            <th class="action">Action</th>
            <th class="assigned_days">Days</th>
            <th class="time_needed">Time Needed</th>
            <th class="due_date">Due Date</th>
            <th class="notes">Notes</th>
        </tr>
        </thead>
        <tbody>
        {% for action in actions %}
            <tr data-id="{{ action.id }}" data-sid="{{ action.status_id }}"
                class="{% if action.status_id == 3 %}done{% endif %} {% if action.overdue %}overdue{% endif %}">
                <td class="checkbox"><input type="checkbox" name="complete"></td>
                <td class="clickable action">{{ action.subject }}</td>
                <td class="assigned_days" width="5%">{{ action.days }}</td>
                <td class="time_needed">
                    {% if action.time %}{{ action.time }}{% else %}NOT SET{% endif %}
                </td>
                <td class="due_date">{{ action.due_date|date:"N j (D)" }}</td>
                <td width="5%" {% if action.memo %}class="tooltip"{% endif %}>
                    {% if action.memo %}
                        <img src="{{ STATIC_URL }}images/notes.png" />
                        <div class="notes">{{ action.memo }}</div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
