{% extends "base.html" %}

{% block title %}Goals{% endblock %}

{% block loadScript %}
    <script>
        $(function () {
            $(".goals_list_table td a").on('click', function() {
                var gid = $(this).closest("tr").data("id");
                var sid = $(this).data("sid");
                if(gid && sid) {
                    $.post( "/goal/status/" + gid,
                        { csrfmiddlewaretoken: '{{ csrf_token }}', sid: sid },
                        function(data) {
                            if(data.result == 'OK'){
                                location.reload();
                            } else {
                                alert(data.message);
                            }
                    });
                }
            });
        });
    </script>
{% endblock %}

{% block content %}

    <div id="goals_basket">
        <a id="create_action" class="button add">+ ADD GOAL</a>

            {% if goals %}
                <p id="goal_number">You have {{ goals|length }} goal{{ goals|pluralize }}.</p>

                <table class="goals_list_table">
                    <tbody>
                        <tr>
                           <th class="goals" >Goals</th>
                           <th class="duration">Duration</th>
                           <th class="progress">Progress</th>
                           <th class="deadline">Due Date</th>
                           <th class="states">Status</th>
                           <th>Actions</th>
                        </tr>
                        {% for goal in goals %}
                        <tr data-id="{{ goal.id }}">
                            <td class="goals" width="50%"><a href="/goal/edit/{{ goal.id }}">{{ goal.subject }}</a></td>
                            <td class="duration">{{ goal.duration }} days</td>
                            <td class="progress">{{ goal.progress }}</td>
                            <td class="deadline">{{ goal.due_date|date:"N j (D)" }}</td>
                            <td class="states">{{ goal.status }}</td>
                            <td width="15%">
                                {% if goal.status_id == 1 %}
                                    <a href="#" data-sid="2">Do It</a>
                                    | <a href="#" data-sid="3">Done</a>
                                {% endif %}
                                {% if goal.status_id == 2 %}
                                    <a href="#" data-sid="1">Do It Later</a>
                                    | <a href="#" data-sid="3">Done</a>
                                {% endif %}
                            </td>
                            <td width="5%">
                                <img src="{{ STATIC_URL }}images/notes.png" alt="Notes"/>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            {% else %}
                No goals found, why?
            {% endif %}

    </div>

{% endblock %}
