{% extends "base.html" %}

{% load i18n %}

{% block title %}__main__{% endblock %}

{% block page_header %}Welcome to the __main__ page{% endblock %}

{% block main_content %}

<p>If you know python, you should know what __main__ means.</p>


{% if errors %}
<ul class="errors">
    {% for error in errors %}
    <li>{{ error }}</li>
    {% endfor%}
</ul>
{% endif %}

<h2>Environments</h2>
<p>
<a href="http://e1portal.ef.com/Odin/IT%20Technical%20Wiki/Server%20List.aspx" target="_blank">Server List</a>
</p>

<h3>
Live
</h3>
<p>
Web Servers(2): 192.168.193.166 and 167; 
<br />&nbsp;&nbsp;&nbsp;&nbsp; account: (EFDMZ\anders.cui, efef!1234; || sekhar.jaji/user@789)

<br />
Web Path: C:\EF\Parents.UI\
<br />
Logs: C:\log\
<br />
Database: 10.43.45.66; uid: EFP; pwd: p@rents01!
</p>

<h3>
QA
</h3>
<p>
Web Server: USB-E1QAWEB - 10.43.41.221
<br />
Db Server: USB-E1QADB - 10.43.42.211
</p>

<h2>Sync Juno Data</h2>
<p>
mstsc -admin to -> CNS-E1DW: then ssms -> db server: USB-E1DW/10.43.45.115(sa - Bi!@#$%)
</p>
<p>
Juno table -> Product_lkp
<br />
SQL queries:
<br />
SELECT TOP 20 * FROM dbo.Translation WHERE ProductCode = 3 AND Status_id = 2
<br />
SELECT TOP 20 * FROM dbo.Blurb WHERE ProductCode = 3 AND Status_id = 2
</p>

<h2>Services:</h2>
<p>
http://currentodinservices.ef.com/ParentsService/AccountService.svc
<br />
http://currentodinservices.ef.com/ParentsService/LifeClubService.svc
<br />
http://currentodinservices.ef.com/ParentsService/CustomerService.svc
<br />
http://currentodinservices.ef.com/ParentsService/StaffProfileService.svc
<br />
http://currentodinservices.ef.com/ParentsService/ProgressReportService.svc
<br />
<br />
http://odinservices-staging.ef.com/ParentsService/AccountService.svc
<br />
http://odinservices-staging.ef.com/ParentsService/LifeClubService.svc
<br />
http://odinservices-staging.ef.com/ParentsService/CustomerService.svc
</p>

<h2>Quotes:</h2>
<p>
Hoare/Knuth: <cite>Premature optimization is the root of all evil in programming.</cite>
</p>

{% endblock %}