{% extends "base.html" %}

{% block title %}My Salary Calculator{% endblock %}

{% block page_header %}Salary Calculator{% endblock %}

{% block main_content %}

<h2>Enter the original salary(before tax)</h2>

<form action="" method="post">
    {% csrf_token %}
    <input type="text" value="{{ result.salary }}" name="sal" id="sal">
    <input type="submit" value="calc">
</form>

{% if result %}
<h2>Salary Calculating Results</h2>
<ul>
    <li>Salary: {{ result.salary }}</li>
    <li>Welfare: {{ result.welfare }}</li>
    <li>Housing: {{ result.housing }}</li>
    <li>Gross: {{ result.gross }}</li>
    <li>Taxable: {{ result.taxable }}</li>
    <li>Tax: {{ result.tax }}</li>
    <li>Payment: {{ result.final_pay }}</li>
</ul>
{% endif %}

{% endblock %}