{% extends "simgtd/email/email_base.html" %}

{% block title %}Email Notification{% endblock %}

{% block content %}
    <p><strong>Hi {{ name }},</strong></p>

    {% if actions_today %}
        <p>今天还有这些事情要做，努力哈：</p>
        <ul>
            {% for action in actions_today %}
                <li><a href="{{ root }}/action/list">{{ action.subject }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>太棒了，今天可以轻松一下了 :-)</p>
    {% endif %}

    <hr />

    {% if actions_overdue %}
        <p>这些事情已经过期了，还不赶紧滚去做！？</p>
        <ul>
            {% for action in actions_overdue %}
                <li><a href="{{ root }}/action/overdue">{{ action.subject }}</a></li>
            {% endfor %}
        </ul>
        <hr />
    {% endif %}

    <p>Remember: Stay hungry, stay foolish.</p>
{% endblock %}
