<!DOCTYPE html>
<html>
<head lang="en">
    <link type="text/css" href="{{ STATIC_URL }}css/site.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Simple GTD</title>
</head>
<body>
<div id="container">
  <div id="header">
    <img src="{{ STATIC_URL }}images/logo.png" alt="Simple GTD">
  </div>
  <div id="wrapper">
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </div>
  <div id="navigation">
    <p><strong>GTD</strong></p>
    <ul>
      <li><a href="#">TODO</a></li>
      <li><a href="#">Doing</a></li>
      <li><a href="#">Done</a></li>
    </ul>

    <p><strong>NLP</strong></p>
    <ul>
      <li><a href="#">Words</a></li>
      <li><a href="#">Tags</a></li>
      <li><a href="#">POS</a></li>
    </ul>
  </div>
  <div id="extra">
    <p><strong>More details</strong></p>
    <p>This is simple and practical GTD.</p>
  </div>
  <div id="footer">
    <p>Simple GTD Inc.</p>
  </div>
</div>
</body>
</html>
