<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Simple GTD</title>

    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css">
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/gtd.css">

    <script src="{{ STATIC_URL }}scripts/jquery.js"></script>
    <script src="{{ STATIC_URL }}scripts/jquery-ui.js"></script>
    <script src="{{ STATIC_URL }}scripts/jquery.cookie.js"></script>

    {% block loadScript %}{% endblock %}
</head>
<body>

    <div id="header">
        <div>
            <div class="header-primary">
                <a href="/">
                    <img src="{{ STATIC_URL }}images/logo.png" alt="Simple GTD" />
                </a>
            </div>
            <div class="header-secondary">
                <input id="search" type="search" name="search" placeholder="search">
{#                <input type="submit" value="Search">#}
                <span class="sep">|</span>
                <a class="header_account" title="{{ user.email }}">howdy, {{ user.first_name }}</a> |
                <a class="header_account" href="/admin/">manage site</a> |
                <a class="header_account" href="/logout/">logout</a>
            </div>
        </div>
    </div>

    <div id="wrapper">

        <div id="navigation">
            <div id="icon_menu_block">

                <a href="/goal/list" class="menu">
                    <span class="icon_menu"><img src="{{ STATIC_URL }}images/goals_basket.png" alt="Goals basket"></span>
                    <span class="icon_menu_subtitle">Goals basket</span>
                </a>
                <a href="/action/list" class="menu">
                    <span class="icon_menu"><img src="{{ STATIC_URL }}images/list.png" alt="Daily/Weekly list"></span>
                    <span class="icon_menu_subtitle">Daily / Weekly list</span>
                </a>
                <a href="/action/tags" class="menu">
                    <span class="icon_menu"><img src="{{ STATIC_URL }}images/list.png" alt="Action Tags"></span>
                    <span class="icon_menu_subtitle">Action Tags</span>
                </a>
            </div>
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>

    {#    <div id="footer">#}
    {#        <div>#}
    {#            <div class="header-primary">SimpleGTD</div>#}
    {#            <div class="header-secondary">#}
    {#                Friendly, Friend-like GTD#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

    </div>

</body>
</html>
